<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <title th:text="${titulo}">Title</title>
</head>
<body>
<!-- barra de navegacion -->
<nav class="navbar navbar-expand-sm bg-dark navbar-dark">

    <!-- Links -->
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link" href="/dispositivos/">Dispositivos</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/tipo_dispositivos/">Tipos de Dispositivo</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/grupos/">Grupos</a>
        </li>
    </ul>
</nav>


<div class="container">

    <h3 th:text="${titulo}"></h3>

    <!--Formulario de ingreso lara crear los datos-->
    <form method="post">
        <label>Nombre:</label><br>
        <input type="text" name="nombre" pattern="^[a-zA-Z-_]*$" required><br><br>

        <label>Latitud:</label><br>
        <input type="text" name="latitud" pattern="^-?([1-8]?[1-9]|[1-9]0)\.{1}\d{1,6}" required><br><br>

        <label>Longitud:</label><br>
        <input type="text" name="longitud" pattern="^-?([1-8]?[1-9]|[1-9]0)\.{1}\d{1,6}" required><br><br>

        <label>Fecha:</label><br>
        <input type="date" name="fechaCreacion"  min="2019-04-01" max="2019-05-01" required><br><br>

        <label>Tipo de Dispositivo</label><br>
        <select name="tDis">
            <option th:each="td : ${tiposDispositivos}"
                    th:text="${td.nombre}"
                    th:value="${td.id}">
            </option>
        </select>

        <br><br>
        <input type="submit" name="Agregar" value="Agregar">
    </form>

    <br> <br>
    <!--        tabla que nuestra los datos que llegan-->
    <table class="table table-bordered">
        <tr>
            <th>Nombre</th>
            <th>Latitud</th>
            <th>Longitud</th>
            <th>Fecha</th>
            <th>Tipo de Dispositivo</th>
            <th>Opciones</th>
        </tr>
        <tr th:each="d : ${dispositivos}">
            <td th:text="${d.nombre}"></td>
            <td th:text="${d.latitud}"></td>
            <td th:text="${d.longitud}"></td>
            <td th:text="${d.fechaCreacion}"></td>
            <td th:text="${d.tDis.nombre}"></td>
            <td>
                <a th:href="@{'editar/' + ${d.id}}" class="btn btn-primary btn-sm">Editar</a>
                <a th:href="@{'borrar/' + ${d.id}}" class="btn btn-danger btn-sm">Borrar</a>
                <a th:href="@{'asignar-grupo/' + ${d.id}}" class="btn btn-primary btn-sm">Asignar</a>
            </td>
        </tr>
    </table>

</div>
</body>
</html>